 @font-face {
     font-family: 'Tribal-Inter';
     src: url('./assets/fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD\,ROND\,opsz\,slnt\,wdth\,wght.ttf') format('woff2');
 }



 body {
     font-family: 'Tribal-Inter';
     margin: 0;
     padding: 0;
     color: #333;
     overflow-x: hidden;
 }

 .header-area {
     position: fixed;
     left: 0;
     top: 0;
     z-index: 999;
     width: 100%;
     background: #202020;

 }

 .slider-area {
     height: 800px;
     display: flex;
     align-items: center;
     position: relative;
 }

 .main-menu nav ul {
     text-align: right;
 }

 ul {
     margin: 0;
     list-style-type: none;
 }

 .main-menu nav ul li {
     display: inline-block;
 }

 .main-menu nav ul li a {
     display: block;
     color: #fff;
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0;
     padding: 35px 17px;
     position: relative;
     text-decoration: none;
 }

 .slider-content h2 {
     font-size: 55px;
     color: #ffffff;
     font-weight: 300;
     letter-spacing: 0;
     line-height: 55px;
     margin-bottom: 10px;
     text-transform: uppercase;
 }

 .slider-content h4 {
     font-size: 19px;
     font-weight: 300;
     color: #ffffff;
     letter-spacing: 0em;
     line-height: 41px;
     text-transform: uppercase;
 }

 .slider-area {
     background-image: url('./assets/images/UI.png');
     background-repeat: no-repeat;
     background-position: center right 10%;
 }

 #about-us,
 .about-us {
     padding: 100px 0px 150px;
 }

 .section-title h2 {
     font-size: 29px;
     letter-spacing: 0;
     color: #222222;
     line-height: 30px;
     margin-bottom: 50px;
     padding-bottom: 16px;
     position: relative;
 }

 .txt2_is_show.is_show:before {
     height: calc(100% - 40px);
 }

 .section-title h2:before {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     height: 5px;
     width: 55px;
     background-color: #202020;
 }

 .section-title h2.is_show:after {
     width: 255px;
 }

 .txt2_is_show.is_show:after {
     opacity: 1;
 }

 .section-title h2:after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 2px;
     height: 1px;
     width: 255px;
     background-color: #202020;
 }

 .pb--200 {
     padding-bottom: 200px;
 }

 .single-service .icon span:before {
     font-size: 50px;
     color: #222;
 }

 .flaticon-web-design:before {
     content: "\f103";
 }

 .txt2_is_show.is_show:before {
     height: calc(100% - 40px);
 }

 .single-service {
     z-index: 1;
     position: relative;
     padding: 14px;
     -webkit-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     height: 100%;
 }

 .txt2_is_show.is_show:before {
     height: calc(100% - 40px);
 }

 .srvc-content {
     overflow: hidden;
 }



 .single-service:before {
     content: '';
     position: absolute;
     left: 36px;
     top: 22px;
     height: 0;
     width: 1px;
     background: #d0cdcd;
     z-index: -1;
     -webkit-transition: all 0.8s ease 0s;
     -o-transition: all 0.8s ease 0s;
     transition: all 0.8s ease 0s;
 }

 .single-service:after {
     content: '';
     position: absolute;
     left: 31px;
     bottom: 16px;
     height: 10px;
     width: 10px;
     border-radius: 50%;
     background: #d0cdcd;
 }

 .single-service .icon {
     float: left;
     margin-right: 17px;
     background: #fff;
 }

 .srvc-content h4 {
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: 0;
     color: #222222;
     margin-bottom: 15px;
 }

 .srvc-content p {
     color: #444;
     line-height: 26px;
 }

 p {
     font-family: 'Montserrat', sans-serif;
     font-size: 14px;
     font-weight: normal;
     letter-spacing: 0;
     line-height: 28px;
     margin: 0;
 }

 .pb--200 {
     padding-bottom: 200px;
 }

 .pb--100 {
     padding-bottom: 100px;
 }

 .pt--100 {
     padding-top: 100px;
 }

 .contact-form form input,
 .contact-form form textarea {
     height: 34px;
     width: 100%;
     background: #fff;
     border: none;
     border-bottom: 1px solid #dddddd;
     margin-bottom: 20px;
     letter-spacing: 0;
     font-size: 13px;
 }

 .contact-form form .form-submit {
     text-align: right;
 }

 .contact-form form button {
     background: #222;
     color: #fff;
     border: none;
     text-transform: uppercase;
     font-size: 12px;
     padding: 15px 30px;
     font-weight: 400;
     cursor: pointer;
     outline: none;
 }

 .contact-form form textarea {
     height: 87px;
 }

 ul {
     margin: 0;
     list-style-type: none;
 }

 ul,
 ol {
     margin-bottom: 0px;
     margin-top: 0px;
     padding: 0;
 }

 .cnt-left ul li {
     font-size: 14px;
     color: #333;
     letter-spacing: 0;
     line-height: 23px;
     margin-bottom: 13px;
     font-weight: 500;
 }

 .footer-area {
     padding: 18px 0px;
     position: relative;
 }

 .bg-gray {
     background-color: #f9f9f9;
 }

 .go-to-top a {
     color: #333;
     position: absolute;
     left: calc(50% - 35px);
     top: -35px;
     background: #fff;
     height: 70px;
     width: 70px;
     border-radius: 50%;
     text-align: center;
     line-height: 70px;
     box-shadow: 0px -2px 9.9px 0.1px rgba(186, 187, 188, 0.25);
     font-size: 27px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .copyright {
     text-align: right;
 }

 .ptb--100 {
     padding: 100px 0px;
 }

 .pt--100 {
     padding-top: 100px;
 }

 .pt--200 {
     padding-top: 200px;
 }

 .container {
     width: 100%;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto
 }

 @media (min-width: 576px) {
     .container {
         max-width: 540px
     }
 }

 @media (min-width: 768px) {
     .container {
         max-width: 720px
     }
 }

 @media (min-width: 992px) {
     .container {
         max-width: 960px
     }
 }

 @media (min-width: 1200px) {
     .container {
         max-width: 1140px
     }
 }

 .svg_white svg {
     fill: #fff;
     width: 101%;
 }

 .white_svg {
     bottom: -1px;
     position: relative;
 }

 .prt-item a img {
     max-width: 100%;
     display: inline-block;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 img {
     vertical-align: middle;
     border-style: none;
 }

 .prt-item a:hover {
     box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.1);
 }

 .prt-item {
     margin-bottom: 30px;
 }

 .prt-item a {
     display: block;
 }

 a:hover,
 a:active {
     color: #ffb607;
     text-decoration: none;
     outline: 0;
 }

 a:hover {
     color: #0056b3;
     text-decoration: underline;
 }

 a,
 a:visited {
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     font-weight: normal;
     font-size: 12px;
     color: #fff;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     outline: 0;
 }

 a {
     color: #007bff;
     text-decoration: none;
     background-color: transparent;
     -webkit-text-decoration-skip: objects;
 }

 .header-area .logo {
     width: 150px;
     transition: all 0.2s ease;
 }

 /* Optional: reduce menu padding when scrolling */
 .header-area .logo.small-logo {
     width: 100px;

 }

 .portfolio-area .heading-text {
     position: absolute;
     bottom: 0px;
     text-align: center;
     width: 100%;
     background: linear-gradient(to top, rgb(48, 48, 48), rgba(0, 0, 0, 0));

     padding: 20px 10px;
     color: #fff;
     font-weight: bold;
     font-size: 18px;
        display: none;
 }

 .prt-item {
    cursor: pointer;
    position: relative;
 }

 .prt-item:hover .heading-text {
     display: block;
 }


 .toast {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background: #333;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99999;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.15); */
  border: 0;
}
.toast.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.toast.success {
  background: #2ad157;
}
.toast.error {
  background: #f16565;
}
