<div id="about-us" class="pt--200">
  <section class="container">
    <div class="row">
      <div class="col-md-4">
        <div style="width: ;">
          <img src="/assets/images/about-us (2).svg" alt="">
        </div>
      </div>
      <div class="col-md-7 offset-md-1">
        <div>
          <div class="section-title">
            <h2 class="txt2_is_show is_show">About Us</h2>
          </div>
          <!-- <p class="txt-wrap"><b>Evolve Experiences, Designing Tomorrow's Interface Today</b></p> -->
          <p class="txt-wrap">
            At Evolver Edge, we elevate your digital journey by blending innovation with design
            excellence. As a forward-thinking design studio, we specialize in creating intuitive,
            user-centric interfaces that make meaningful digital experiences. From responsive website
            design to bespoke application and logo design, our creative expertise helps brands connect
            with users through thoughtful and impactful visual solutions. With precision, passion, and a
            commitment to quality, we craft experiences that reflect your vision and drive digital
            success.
          </p>
        </div>
      </div>
    </div>


  </section>
</div>
