@use '../public/assets/scss/breakpoints.scss' as *;

/* -----------------------------------
   GLOBAL FONTS & BODY
----------------------------------- */
@font-face {
  font-family: 'Tribal-Inter';
  src: url('/assets/fonts/Google_Sans_Flex/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('woff2');
}


body {
  font-family: 'Tribal-Inter';
  margin: 0;
  padding: 0;
  color: #333;
  overflow-x: hidden;
}


/* -----------------------------------
   DEFAULT RESETS
----------------------------------- */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  transition: all 0.3s ease;
}

a:hover,
a:active {
  color: #ffb607;
}


/* -----------------------------------
   SECTION TITLE
----------------------------------- */
.section-title h2 {
  font-size: 29px;
  color: #222;
  margin-bottom: 50px;
  padding-bottom: 16px;
  position: relative;
}

.section-title h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background: #202020;
}

.section-title h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 255px;
  background: #202020;
}



/* -----------------------------------
   SPACINGS (UTILITY)
----------------------------------- */
.pb--200 {
  padding-bottom: 200px;

  @media #{ $phone} {
    padding-bottom: 100px;
  }
}

.pb--100 {
  padding-bottom: 100px;

  @media #{ $phone} {
    padding-bottom: 50px;
  }
}

.pt--100 {
  padding-top: 100px;

  @media #{ $phone} {
    padding-top: 50px;
  }
}

.pt--200 {
  padding-top: 200px;

  @media #{ $phone} {
    padding-top: 100px;
  }
}

.ptb--100 {
  padding: 100px 0;

  @media #{ $phone} {
    padding: 50px 0;
  }
}



/* -----------------------------------
   CONTAINER WIDTHS
----------------------------------- */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.white_svg svg {
  fill: #fff;
  margin-bottom: -1px;
}
