 <div class="service-area pt--100">
        <div class="container pb--100">
            <div class="row d-flex">
                <div class="col-md-4 align-self-stretch">
                    <div class="single-service txt2_is_show is_show">
                        <div class="icon"><img src="/assets/images/icons/app.svg" /></div>
                        <div class="srvc-content">
                            <h4>Website Design</h4>
                            <p>Crafting innovative, user-centric websites for an unforgettable online experience
                                responsive and compatible on all devices.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 align-self-stretch">
                    <div class="single-service txt2_is_show is_show">
                        <div class="icon"><img src="/assets/images/icons/mobile.svg" /></div>
                        <div class="srvc-content">
                            <h4>Application Design</h4>
                            <p>Enhance your digital footprint with our meticulously crafted mobile solutions,
                                custom-tailored for success right at your users' fingertips.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 align-self-stretch">
                    <div class="single-service txt2_is_show is_show">
                        <div class="icon"><img src="/assets/images/icons/logo.svg" /></div>
                        <div class="srvc-content">
                            <h4>Logo Design</h4>
                            <p>Elevate your brand presence through our unique logo designs, where creativity and
                                identity converge for a visually compelling impact</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_svg svg_gray">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon fill="#f9f9f9" stroke="#f9f9f9" stroke-width="1"
                    points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 "></polygon>
            </svg>
        </div>
    </div>
