/* -----------------------------------
   SERVICES
----------------------------------- */
.single-service {
  position: relative;
  padding: 14px;
  transition: .3s ease;
  height: 100%;
}
.single-service:before {
  content: "";
  position: absolute;
  left: 36px; top: 22px;
  width: 1px; height: 0;
  background: #d0cdcd;
  transition: .8s ease;
}
.single-service:after {
  content: "";
  position: absolute;
  left: 31px; bottom: 16px;
  height: 10px; width: 10px;
  border-radius: 50%;
  background: #d0cdcd;
}

.single-service .icon {
  float: left;
  margin-right: 17px;
  background: #fff;
}
.single-service .icon span:before {
  font-size: 50px;
  color: #222;
}

.srvc-content { overflow: hidden; }
.srvc-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-bottom: 15px;
}
.srvc-content p {
  color: #444;
  line-height: 26px;
}



