
    <footer>
        <div class="footer-area bg-gray">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-sm-4">
                        <div class="flogo">
                            <a href=""><img width="100px" src="/assets/images/logo-black.svg" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8">
                        <div class="copyright">
                            <p>@Copyright By <span>EvolverEdgeTechnology</span></p>
                        </div>
                    </div>
                </div>
                <div class="go-to-top">
                    <a href="#"><img src="/assets/images/icons/up.svg" /></a>
                </div>
            </div>
        </div>
    </footer>
