<div style="background-color: #202020; color: #fff;">
        <section id="home" class="slider-area parallax">
            <div class="container">
                <header class="header-area ">
                    <div style="" class="container">
                        <div
                            style="padding: 10px 0px;display: flex; justify-content: space-between; align-self: center;">
                            <img class="logo" src="/assets/images/logo.svg" />
                            <div>
                                <div class="main-menu">
                                    <nav class="nav-menu">
                                        <ul id="nav_menu">
                                            <li class="active"><a data-hover="home" href="#home"><span>Home</span></a>
                                            </li>
                                            <li><a data-hover="about" href="#about-us"><span>About</span></a></li>
                                            <li><a data-hover="portfolio" href="#portfolio"><span>Portfolio</span></a>
                                            </li>
                                            <li><a data-hover="contact" href="#contact"><span>Contact</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div>
                    <div class="slider-content">
                        <h2>Design Studio</h2>
                        <h4>Evolve Experiences, Designing Tomorrow's interface today</h4>
                    </div>
                </div>
            </div>
        </section>
        <div class="white_svg svg_white">
            <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                <polygon points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 "></polygon>
            </svg>
        </div>
    </div>
