@use '../../../../../../public/assets/scss/breakpoints.scss' as *;

/* -----------------------------------
   HEADER
----------------------------------- */
.header-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #202020;

  .logo {
    width: 150px;
    transition: all .2s ease;

    @media #{ $phone } {
      width: 70px;
    }

    &.small-logo {
      width: 100px;

      @media #{ $phone } {
        width: 70px;
      }
    }
  }
}

/* -----------------------------------
   MENU
----------------------------------- */
.main-menu nav ul {
  text-align: right;

  @media #{ $phone } {
    padding-left: 0px;
  }

  li {
    display: inline-block;

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding: 35px 17px;
      display: block;
      text-decoration: none;

      @media #{ $phone } {
        padding: 15px 8px;
      }
    }
  }
}



/* -----------------------------------
   HERO / SLIDER
----------------------------------- */
.slider-content {
  @media #{ $phone } {
    margin-top: -180px;
  }
}

.slider-area {
  height: 800px;
  display: flex;
  align-items: center;
  background: url('/assets/images/UI.png') no-repeat center right 10%;
  position: relative;

  @media #{ $phone } {
    height: 100vh;
    width: 100%;
    background-position: calc(100% - 25px) calc(100% - 40px);
    background-size: 350px;
  }

  @media #{ $tablet} {
    background-size: 300px;
  }

  h2 {
    font-size: 55px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media #{ $phone } {
      font-size: 36px;
      text-align: center;
    }
  }

  h4 {
    font-size: 19px;
    font-weight: 300;
    color: #fff;
    line-height: 41px;
    text-transform: uppercase;

    @media #{ $phone } {
      font-size: 16px;
      text-align: center;
    }
  }
}
