
/* -----------------------------------
   PORTFOLIO HOVER TEXT
----------------------------------- */
.prt-item {
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}
.prt-item a { display: block; }
.prt-item a:hover {
  box-shadow: 0 10px 27px rgba(0,0,0,0.1);
}

.portfolio-area .heading-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 10px;
  background: linear-gradient(to top, rgb(48,48,48), transparent);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: none;
}
.prt-item:hover .heading-text { display: block; }


img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
