<div class="">
        <section style="background-color: #f9f9f9;" class="fortfolio-area bg-gray pt--100 " id="portfolio">
            <div class="container">
                <div class="section-title">
                    <h2 class="txt2_is_show is_show">Our Portfolio</h2>
                </div>

                <style>

                </style>

                <div class="portfolio-area portfolio-masonary row" id="container">
                    <div class="prt-grid marketing design col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-video" >
                                <span class="flaticon-play-button"></span>
                                <img src="/public/assets/images/portfolio/AI Powered Consultant Chat Widgets.png" alt="image">
                                <div class="heading-text">
                                    <span>AI Powered Consultant Chat Widgets</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid marketing web col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img">
                                <img src="/public/assets/images/portfolio/Analytics.png" alt="image">
                                <div class="heading-text">
                                    <span>Analytics</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img">
                                <img src="/public/assets/images/portfolio/Bhaskar Ad Booking (Responsive Design).png"
                                    alt="image">
                                <div class="heading-text">
                                    <span>Bhaskar Ad Booking (Responsive Design)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid design marketing col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Bus Booking App.png" alt="image">
                                <div class="heading-text">
                                    <span>Bus Booking App</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid web design col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/CampusNexus.png" alt="image">
                                <div class="heading-text">
                                    <span>CampusNexus</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid design marketing col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Ex-Bags.png" alt="image">
                                <div class="heading-text">
                                    <span>Ex-Bags</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="prt-grid design marketing col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Flowchart & Service Blueprint.png"
                                    alt="image">
                                <div class="heading-text">
                                    <span>Flowchart & Service Blueprint</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid web design col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Freelance Sprint Hub.png"
                                    alt="image">
                                <div class="heading-text">
                                    <span>Freelance Sprint Hub</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid design marketing col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Language Learning App.png"
                                    alt="image">
                                <div class="heading-text">
                                    <span>Language Learning App</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid design marketing col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/NCPDP - Pharmacy Ecosystem.png"
                                    alt="image">
                                <div class="heading-text">
                                    <span>NCPDP - Pharmacy Ecosystem</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid web design col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Room Planner - AI.png"
                                    alt="image">
                                <div class="heading-text">
                                    <span>Room Planner - AI</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="prt-grid design marketing col-md-4 col-sm-6">
                        <div class="prt-item">
                            <a class="expand-img"><img src="/public/assets/images/portfolio/Video Editor.png" alt="image">
                                <div class="heading-text">
                                    <span>Video Editor</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="white_svg svg_white">
                <svg x="0px" y="0px" viewBox="0 186.5 1920 113.5">
                    <polygon fill="#fff" points="0,300 655.167,210.5 1432.5,300 1920,198.5 1920,300 "></polygon>
                </svg>
            </div>
        </section>
    </div>
